.header{
    padding: 30px;
    font-size: 18px;
    color: white;
    background-color: green;
    text-align: center;
}

.row .main-col{
    padding: 0px;
    vertical-align: text-bottom;
}

.result-container p{
    display: inline-block;
    vertical-align: bottom;
}

.row .col{
    padding: 0px; 
}

.main-row{
    /* display: inline-block; */
    height: 600px;
}

.result-container{
    margin-top: 80px;
}

.btn-container{
    margin-top: 50px;
}

.btn-control-display-container{
    margin-top: 10px;
}

.btn:disabled{
    text-decoration: none;
    color: #FFF;
    border-radius: 3px;
    background-color: #cccccc;
}

.btn-blue{
    background-color: #668ad8;/*ボタン色*/
}


.btn-orange{
    background-color: #fd9535;
}

.btn-green{
    background-color: #03864c
}

#display{
    font-size: 40px;
}