.header{
    font-size: 18px;
    color: white;
    text-align: center;
}

.footer{
    font-size: 18px;
    color: white;
    text-align: center;
}

.header-anker{
    line-height: 63px;
    color: white;
}

.row .main-col{
    padding: 0px;
    vertical-align: text-bottom;
}

.result-container p{
    display: inline-block;
    vertical-align: bottom;
}

.row .col{
    padding: 0px; 
}

.main-row{
    /* display: inline-block; */
    height: 600px;
}

.result-container{
    margin-top: 80px;
}

.btn-container{
    margin-top: 50px;
}

.btn-control-display-container{
    margin-top: 10px;
}

.btn:disabled{
    text-decoration: none;
    color: #FFF;
    border-radius: 3px;
    background-color: #cccccc;
}

.btn-blue{
    background-color: #668ad8;/*ボタン色*/
}


.btn-orange{
    background-color: #fd9535;
}

.btn-green{
    background-color: #03864c
}

#display{
    font-size: 40px;
}

.maru {
    height:40px;
    width:40px;
    border-radius:50%;
    line-height:40px;
    text-align:center;
}

.number-icon{
    position: absolute;
    bottom: 5px;
    left: 5px;
    line-height: 50px;
    font-size: 20px;
}

.col .card .card-image{
    padding: 0px;
}

.col .card .card-image .card-title{
    bottom: 5px;
    left: 10px;
    padding-bottom: 0px;
    padding-top: 0px;;
    padding-left: 50px;
    line-height: 40px;
    font-weight: bold;
}

.number-icon .pulse::before{
    z-index: 5;
}

.usage-container{
    margin:10px 10%;
}

.usage-container h4{
    margin: 0;
}

.usage-container .card{
    margin:30px 0px 0px;
}