{% load static %}
<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Face Analysis</title>
    <link rel="icon" href="{% static 'face_count/favicon.ico' %}">
    <link rel='stylesheet' href="{% static 'face_count/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>
    <div class="header teal darken-1">
        <div class='row'>
            <div class='col s2'>
                <a class="header-anker" href="/usage/">使い方</a>
            </div>
            <div class="col offset-s2 s4">
                <a class="header-anker" href="/">Face Analysis</a>
            </div>
        </div>
    </div>
    {% block content %}
    {% endblock %}
</body>

</html>