{% extends 'face_count/base.html' %}
{% load static %}
{% block content %}
<div class='row main-row'>
    <div class='col m12 l9 main-col center'>
        <p>カメラプレビュー</p>
        <hr>
        <video class="responsive-video center-align center" id="player" width=960 height=540 controls autoplay></video>
    </div>
    <div class='col m12 l3 s12 main-col row'>
        <p class="center">分析結果</p>
        <hr>
        <div class="result-container col offset-s3 offset-m2">
            <div>
                <p>計測開始日時 : </p>
                <p id='display_start_date'></p>
            </div>
            <div>
                <p>計測開始時刻 : </p>
                <p id='display_start_time'></p>
            </div>
            <div>
                <p>総視聴回数 : </p>
                <p id='display_face_count'></p>
                <p>回</p>
            </div>
            <div>
                <p>総注視回数 : </p>
                <p id='display_eye_count'></p>
                <p>回</p>
            </div>
            <div>
                <p>総一瞥回数 : </p>
                <p id='display_face_only_count'></p>
                <p>回</p>
            </div>
        </div>

        <div class="center col s12 offset-m2 m4 l12 btn-container">
            <div class='center'>
                <button class="btn" id="count_start_btn">
                    カウント開始
                </button>
                <button class="btn red darken-3" id="count_stop_btn">
                    カウント停止
                </button>
            </div>
            <div class='center'>
                <button class="btn" id="count_restart_btn">
                    カウント再開
                </button>
                <button class="btn red darken-3" id="count_terminate_btn">
                    カウント終了
                </button>
            </div>
            <div>
                <div class='center btn-control-display-container'>
                    <button class='btn orange darken-3' id='deactive_camera_btn'>
                        画面停止
                    </button>
                    <button class='btn green darken-3' id='active_camera_btn'>
                        画面開始
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>
<div class='row'>
    <div class='col s12 m12 l6 center'>
        <p class="center">スナップショット</p>
        <hr>
        <canvas class="responsive-canvas" id="snapshot_canvas" width=640 height=360></canvas>
    </div>
    <div class='col s12 m12 l6 center'>
        <p class="center">分析後スナップショット</p>
        <hr>
        <canvas class="responsive-canvas" id='result_canvas' width=640 height=360></canvas>
    </div>
</div>
{% csrf_token %}
<script src="{% static 'face_count/count.js' %}"></script>
{% endblock %}

