{% extends 'face_count/base.html' %}
{% load static %}
{% block content %}
<div class='usage-container'>
<h4>Face Analysisの使い方</h4>
{% for usage_elem in usage_list %}
<div class="row">
    <div class="col s12 m12 l10">
        <div class="card row">
            <div class="card-image col m8 l8">
                <div class="title-container">
                    <span class="number-icon">
                        <div class="pulse maru teal darken-1 white-text">{{ usage_elem.list_id }}</div>
                    </span>
                    <span class="card-title teal-text darken-1-text">{{ usage_elem.list_title }}</span>
                </div>
                <img src="{{ MEDIA_URL }}{{ usage_elem.list_img }}">
            </div>
            <div class='col s12 m4 l4'>
                <div class="card-content">
                    <p>{{ usage_elem.list_content }}</p>
                </div>
                <div class="card-action">
                    <a href="{{ usage_elem.list_link }}">{{ usage_elem.list_link_title }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
</div>

{% endblock %}