.headgamen{
    padding: 30px;
    font-size: 18px;
    color: white;
    background-color: green;
    text-align: center;
}

.main{
    text-align: center;
}

.main p{
    display: inline-block;
}

.btn{
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  color: #FFF;
  border-radius: 3px;
}

.btn-blue{
    background: #668ad8;/*ボタン色*/
}

.btn-orange{
    background-color: #fd9535;
}

.btn-green{
    background-color: #03864c
}

#display{
    font-size: 40px;
}