{% load static %}
<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Face Analysis</title>
    <link rel="icon" href="{% static 'face_count/favicon.ico' %}">
    <link rel='stylesheet' href="{% static 'face_count/style.css' %}">
</head>
<header class="headgamen">Face Analisis</header>

<body>
    <div class="main">
        <!-- <img src="{% static 'face_count/sample.png' %}" id='image'> -->
        <div>
            <p>計測開始日時: </p>
            <p id='display_start_date'></p>
        </div>
        <div>
            <p>計測開始時刻: </p>
            <p id='display_start_time'></p>
        </div>
    </div>
    <div class='main'>
        <p>総視聴回数: </p>
        <p id='display_face_count'></p>
        <p>回</p>
    </div>
    <div class='main'>
        <p>注視回数: </p>
        <p id='display_eye_count'></p>
        <p>回</p>
    </div>
    <div class="main">
        <p>一目見た回数: </p>
        <p id='display_face_only_count'></p>
        <p>回</p>
    </div>
    <div class="main">
        <button class="btn btn-green" id="count_start_btn">
            カウント開始
        </button>
        <!-- <button class="btn btn-blue" href='http://127.0.0.1:8000/face_count/face_auth/' target="_blank">
            カメラ起動
        </button> -->
        <button class="btn btn-orange" id="count_stop_btn">
            カウント停止
        </button>
        <button class="btn btn-green" id="count_restart_btn">
            カウント再開
        </button>
        <button class="btn btn-orange" id="count_terminate_btn">
            カウント終了
        </button>
    </div>
    <video id="player" controls autoplay></video>
    <canvas id="snapshot" width=1280 height=720></canvas>
    {% csrf_token %}
    <script src="{% static 'face_count/count.js' %}"></script>
</body>

</html>