{% load static %}
<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <title>Face Analisis</title>
    <link rel='stylesheet' href="{% static 'style.css' %}">
</head>
<header class="headgamen">Face Analisis</header>
<body>
    <div class="main">
        <p>計測時間: </p>
        <p id='display_time'></p>
        <p>秒</p>
    </div>
    <div class='main'>
        <p>総視聴回数: </p>
        <p id='display_face_count'></p>
        <p>回</p>
    </div>
    <div class='main'>
        <p>注視回数: </p>
        <p id='display_eye_count'></p>
        <p>回</p>
    </div>
    <div class="main">
        <p>一目見た回数: </p>
        <p id='display_face_only_count'></p>
        <p>回</p>
    </div>
    <div class="main">
        <a 
          class="btn btn-green" 
          href='http://127.0.0.1:8000/face_count/count/' 
          target="_blank"
        >
        カウントする
        </a>
        <a 
          class="btn btn-blue" 
          href='http://127.0.0.1:8000/face_count/face_auth/' 
          target="_blank"
        >
        カメラ起動
        </a>
    </div>    

    <script src="{% static 'count.js' %}"></script>
</body>
</html>